# .dockerignore

# Ignore the .env file
.env

# Ignore node modules
node_modules/

# Ignore logs
logs/
*.log

# Ignore Mac system files
.DS_Store

# Ignore build files
build/

# Ignore tmp files
tmp/
